{% extends 'base.html' %}
{% load static %}

{% block title %} Appointment details {% endblock %}

{% block content %}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Appointment details</h2>
          <ol>
            <li><a href="{% url 'doc_search:user_logout' %}">Logout</a><br></li>
          </ol>
        </div>

      </div>
    </section>

    <section class="inner-page">
      <div class="container">
        {% for patient in patients %}
                Name: {{ patient.first_name }} {{ patient.last_name }}</br>
                Age: {{ patient.age }}</br>
                Gender: {{ patient.gender }}</br>
                Email: {{ patient.email }}</br>
                Insurance: {{ patient.insurance }}</br>
                Complaint: {{ patient.complaint }}</br></br>
        {% endfor %}
      </div>
    </section>
{% endblock %}